@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Barlow+Condensed:wght@900&family=Kanit:wght@900&family=Signika+Negative:wght@600&family=Sixtyfour&family=Ubuntu:ital,wght@1,700&display=swap');

.loadingtext{
    color:white ; 
    padding-top:10% ; 
    font-family: 'Sixtyfour', sans-serif;
}