@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Palanquin+Dark:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Orbitron:wght@900&display=swap');



.about-1{
    background-image: url("https://st2.depositphotos.com/3591429/5997/i/450/depositphotos_59977499-stock-photo-hands-holding-word-about-us.jpg");
    background-color: #023047;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #5C677D;
    border-radius: 10%;
    width: 100vw;
    height: 60vh;
    background-blend-mode: soft-light;
}

.head-about-1{
    color: white ;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 12vw;
    position: relative;
    top: 15%;
}

/* _________________________________________________________________ */

.about-2{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 8%;
}

.about-img-2{
    width: 85vw;
    margin-top: -10%;
}

.head-about-2{
    color: white;
    text-align: left;
    font-family: 'Anton', sans-serif;
}

.para-about-2{
    color: white;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-top: 2%;
}

.para-about-icons{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.about-icon-2{
    display: inline;
    font-size: 4vw;
    color: #FFECD1;
}

.about-text-2{
    color: white;
    margin: 20px;
    font-family: 'Hind', sans-serif;
}

/* _____________________________________________________________________ */

.about-3{
    padding: 2%;
    margin-top: 5%;
    background-color: #A8DADC !important;
}

.about-head-3{
    text-align: start;
}

.about-para-3{
    text-align: start;
}

/* ___________________________________________________________________________ */

.about-4{
  margin-top: 5%;
}

.about-img-4{
    width: 100vw;
    opacity: 40%;
    margin-bottom: -15%;
    z-index: -1;
    position: relative;
}

.about-detail-4{
    display: flex;
    justify-content: space-around;
}

.about-detail-card-4{
    width: 35vw;
    padding: 3%;
    background-color: #f4d45e4f !important ;
    color: white !important;
    border: 4px solid #f4d35e !important ;
}

.about-detail-card-4:hover{
    background-color: #f4d35e!important ;
    color: rgb(0, 0, 0) !important;
    transition: ease-in-out;
    transition-duration: 750ms;
}

.about-icon-4{
  font-size: 2.5vw;
}

.about-head-4{
    font-family: 'Hind', sans-serif;
}

.about-para-4{
    font-family: 'Raleway', sans-serif;
}

/* ___________________________________________________________________ */

.about-5{
    margin-top: 8%;
}

.about-head-5{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5vw;
}

.about-para-5{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.about-head2-5{
    color: white;
    font-family: 'Dekko', cursive;
    font-size: 4vw;
    margin-top: 4%;
}

.about-clients-5{
    display: flex;  
    justify-content:space-between;
    background-color: #ef8254cf !important;
    border: 4px solid #ef8254 ;
    color: white !important;
    margin-top: 5%;
    padding: 5%;
}
.about-clients-5:hover{
    background-color: #ef8254 !important;
    transition: ease-in-out;
    transition-duration: 750ms;
}

.about-clients-head-5{
    font-family: 'Orbitron', sans-serif;
    font-size: 3vw;
}
.about-clients-para-5{
    font-family: 'Dosis', sans-serif;
}

/* __________________responsiveness________________________________________ */

@media only screen and (max-width: 799px) {

    /* _________________________________________________________________ */

    .about-2 {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centers vertically in a column */
        align-items: center; /* Centers horizontally */
    }
    
    .about-img-2 {
        width: 60vw; /* Sets the width of the element to 50% of the viewport width */
        display: flex;
        justify-content: center; /* Centers the children of this element horizontally */
    }
     
    /* _________________________________________________________________________ */


      
      .about-detail-4{
          display: flex;
          justify-content: space-around;
      }
      
      .about-detail-card-4{
          width: 45vw;
      }

      /* ______________________________________________________________________________ */
    
    .about-head-5{
        font-size: 8vw;
    }
    
    .about-head2-5{
        font-size: 8vw;
    }
    
    .about-clients-5{
        display: flex;  
        justify-content:space-between;
        background-color: #ef8254cf !important;
        border: 4px solid #ef8254 ;
        color: white !important;
        margin-top: 5%;
        padding: 5%;
    }

}


@media only screen and (max-width: 499px) {
    
    .about-clients-5{
        padding: 5%;
    }

    .about-clients-head-5{
        font-size: 3vw;
    }
    .about-clients-para-5{
        font-size: 2vw;
    }
}